.introducao{
    background-size: 100% 100%;
    align-items: center;
    
}

.foto{
    background-image: url(lavoura.jpg);
    height: 350px;
background-size: 100% 100%;


}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #798436;
}

.site{
    align-items: center;
}

.venda{
    text-align: center;

}

.sensor{
    width: 30%;
}

.temporizador{
width: 30%;
}

.chuva{
    width: 30%;
}

.fim{
text-align: center;
background-color: #798436;

}

.prod{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}