.introducao{
    background-size: 100% 100%;
    align-items: center;
}

.foto{
    background-image: url(lavoura.jpg);
    height: 350px;
background-size: 100% 100%;


}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site{
    align-items: center;
}

.venda{
    text-align: center;

}

.sensor{
    width: 30%;
}
.temporizador{
width: 30%;
}

.chuva{
    width: 30%;
}