.lavoura{
    background-image: url(lavoura.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 70%;
}
.sensor{
    background-image: url(sensor.jpg);
    background-size: 100% 100%
    width: 30%;



}